In [75]:
import redshift_connector
import pandas as pd
import os

In [76]:
host = os.environ['host']
database = os.environ['database']
user = os.environ['user']
password = os.environ['password']
schema = os.environ['schema']

In [77]:
conn = redshift_connector.connect(
     host=host,
     database=database,
     user=user,
     password=password
  )

In [78]:
cursor = conn.cursor()

In [79]:
query = f"""
select t.table_name
from information_schema.tables t
where t.table_schema = '{schema}'  
      and t.table_type = 'BASE TABLE'
order by t.table_name;
"""

cursor.execute(query)
result = cursor.fetch_dataframe()
result

                     table_name
0  app_added_shopping_list_meal
1                      app_adds
2                     app_opens
3                     app_views
4                   clientbrand
5                 groceryorders

In [23]:
query = f'''
select top 10 * from {schema}.groceryorders;
'''

cursor.execute(query)
result = cursor.fetch_dataframe()

In [24]:
result

,brand,product_category,order_id,member_id,order_date,vendor,product_name,quantity,cost
0,Hillshire,kielbasa,6047411578670125769,604741,2020-01-10 15:28:45,walmartGrocery,Jennie-O Turkey Hardwood Smoked Turkey Kielbasa,1,3.16
1,Hillshire,kielbasa,10732561578108499088,1073256,2020-01-04 03:28:19,walmartGrocery,Hillshire Farm Turkey Polska Kielbasa Smoked S...,1,2.72
2,Hillshire,andouille,12361591579742532095,1236159,2020-01-23 01:22:12,walmartGrocery,Hillshire Farm Cajun Style Andouille Smoked Sa...,1,2.94
3,Hillshire,kielbasa,9665591579357945785,966559,2020-01-18 14:32:25,walmartGrocery,Hillshire Farm Polska Kielbasa Smoked Sausage ...,1,2.92
4,Hillshire,andouille,12403971578253397420,1240397,2020-01-05 19:43:17,walmartGrocery,Hillshire Farm Cajun Style Andouille Smoked Sa...,2,5.88
5,Hillshire,andouille,12205141579959223949,1220514,2020-01-25 13:33:43,walmartGrocery,Johnsonville New Orleans Andouille Smoked Saus...,1,2.98
6,Hillshire,smoked sausage,12453531578529944718,1245353,2020-01-09 00:32:24,walmartGrocery,Hillshire Farm Beef Smoked Sausage Rope,1,2.98
7,Hillshire,smoked sausage,12435081578796603325,1243508,2020-01-12 02:36:43,walmartGrocery,Hillshire Farm Litl Smokies Smoked Sausage,1,2.96
8,Hillshire,smoked sausage,10339681578158882766,1033968,2020-01-04 17:28:02,walmartGrocery,Hillshire Farm Beef Smoked Sausage Links,6,11.88
9,Hillshire,smoked sausage,2390501577977992654,239050,2020-01-02 15:13:12,walmartGrocery,Hillshire Farm Beef Smoked Sausage Links,1,2.48

In [31]:
query = f'''
select top 10 * from {schema}.clientbrand;
'''

cursor.execute(query)
result = cursor.fetch_dataframe()
result

                 client           brand  active
0           Tyson Foods          Aidell   False
1               Bacardi         Martini   False
2               ABInBev       Budweiser   False
3             Coca-Cola          Sprite   False
4  Jackson Family Wines  Freemark Abbey   False
5         Treasury Wine      Coldstream   False
6         Treasury Wine      Killawarra   False
7         Treasury Wine      Provenance   False
8         Treasury Wine       Stag Leap    True
9              Lactalis         Galbani   False

In [32]:
query = f'''
select top 10 * from {schema}.app_added_shopping_list_meal;
'''

cursor.execute(query)
result = cursor.fetch_dataframe()
result

,received_at,original_timestamp,event,member_id,meal_id,plan_title,recipe_title
0,2020-01-01 06:41:02.300,2020-01-01T06:40:30.675Z,app_added_shopping_list_meal,None,272953,Bonus Collections,Gavin’s Guac
1,2020-01-01 14:28:52.624,2020-01-01T14:28:49.109Z,app_added_shopping_list_meal,None,288546,Vegan,Sofritas Burrito Bowls
2,2020-01-02 00:54:08.848,2020-01-02T00:53:59.509Z,app_added_shopping_list_meal,None,265481,Bonus Collections,Upside-Down Turkey Shepherd's Pie
3,2020-01-02 06:49:33.716,2020-01-02T06:49:16.315Z,app_added_shopping_list_meal,None,290315,Heart-Healthy,"Spicy Pork, Pepper, and Tomato Stir-Fry"
4,2020-01-02 19:34:33.852,2020-01-02T19:34:17.540Z,app_added_shopping_list_meal,None,290724,Kid Friendly,Kids' Steak Bowls
5,2020-01-01 21:52:28.547,2020-01-01T21:52:10.744Z,app_added_shopping_list_meal,None,279670,Bonus Collections,Chicken Nugget Cobb Salad
6,2020-01-02 01:41:46.431,2020-01-02T01:41:38.612Z,app_added_shopping_list_meal,None,290677,30 Minute,Mustard Roasted Chicken and Potatoes
7,2020-01-02 04:23:46.568,2020-01-02T04:23:33.664Z,app_added_shopping_list_meal,None,290793,Budget-Friendly,Crispy Ranch Chicken
8,2020-01-04 14:47:48.007,2020-01-04T14:47:19.882Z,app_added_shopping_list_meal,None,284128,Clean Eating,Chicken Fajitas
9,2020-01-04 19:45:26.723,2020-01-04T19:45:06.699Z,app_added_shopping_list_meal,None,286202,Low-Carb,Flank Steak with Creamy Basil Dressing

In [57]:
query = f'''
select top 10 * from {schema}.app_adds;
'''

cursor.execute(query)
result = cursor.fetch_dataframe()
result

,event_date,meal_id,recipe_title,member_id,adds,etl_datetime
0,2020-01-01,272953,Gavin’s Guac,None,0,2021-02-28 19:16:12.628701
1,2020-01-02,265481,Upside-Down Turkey Shepherd's Pie,None,0,2021-02-28 19:16:12.628701
2,2020-01-02,290724,Kids' Steak Bowls,None,0,2021-02-28 19:16:12.628701
3,2020-01-02,290677,Mustard Roasted Chicken and Potatoes,None,0,2021-02-28 19:16:12.628701
4,2020-01-04,284128,Chicken Fajitas,None,0,2021-02-28 19:16:12.628701
5,2020-01-02,285676,Maple-Dijon Pork Tenderloin,None,0,2021-02-28 19:16:12.628701
6,2020-01-03,288549,Broccoli and Cashew Stir-Fry over Soba Noodles,None,0,2021-02-28 19:16:12.628701
7,2020-01-06,289919,Cashew Beef and Cabbage Bowls,None,0,2021-02-28 19:16:12.628701
8,2020-01-08,290667,Cowboy Beef Chili,None,0,2021-02-28 19:16:12.628701
9,2020-01-09,290601,Chicken Verde Enchilada Bowls,None,0,2021-02-28 19:16:12.628701

In [58]:
query = f'''
select top 10 * from {schema}.app_views;
'''

cursor.execute(query)
result = cursor.fetch_dataframe()
result

,event_date,member_id,recipe_title,views
0,2020-01-02,1228651,Cheesy Chicken and Broccoli Casserole,1
1,2020-01-03,1236421,Turkey Cobb Sandwich,1
2,2020-01-04,1238051,Dutch Baby,1
3,2020-01-04,990177,Balsamic-Mustard-Glazed Chicken,1
4,2020-01-05,828742,Mediterranean Omelets,1
5,2020-01-05,468682,Pesto Grilled Fish,2
6,2020-01-05,1240037,Beef and Cheese Enchiladas,1
7,2020-01-06,427288,Easy Lentil Tacos,1
8,2020-01-02,1234290,Chicken and Black Bean Enchilada Casserole,1
9,2020-01-02,1063049,Buffalo Chicken Nuggets with Blue Cheese Sauce,1